.home {
  &-top {
    padding-top: 3rem;
    &__left {
      padding-top: 3rem;
      display: block;

      & h3 {
        font-size: 6rem;
        letter-spacing: 0px;
        color: var(--color-white-1);
      }

      & .logo-blue {
        color: var(--blue-main-1);
      }
    }

    &__right {
      // padding-top: 3rem;
      &--img {
        width: 62.2rem;
        height: 39.5rem;
        margin-bottom: -9rem;
      }
    }
  }

  &-bottom {
    padding-top: 10rem;
    padding-bottom: 10rem;

    & h4 {
      font-size: 2.2rem;
      color: #303f60;
    }
  }
}

.breadcrumb {
  margin: 0 0 3rem;
  & a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;

    & img {
      margin-right: 0.6rem;
      width: 1.5rem;
    }

    & + a {
      margin-left: 1rem;
    }
  }
}

